<a href="" title="Notification" data-ripple="" onclick="return false">
  <i class="ti-bell"></i><span>{{ notifications.length }}</span>
</a>
<!-- <div class="dropdowns">
  <span>4 New Notifications</span>
  <ul class="drops-menu">
    <li>
      <a href="" title="" disable="disabled">
        <img src="../images/resources/thumb-1.jpg" alt="" />
        <div class="mesg-meta">
          <h6>sarah Loren</h6>
          <span>Hi, how arer you dear Menilik?</span>
          <i>2 min ago</i>
        </div>
      </a>
      <span class="tag green">New</span>
    </li>
  </ul>
  <a href="notifications.html" title="" class="more-mesg">view more</a>
</div> -->
