
  <div class="postoverlay"></div>

  <div class="topbar stick">
  <div class="logo">
    <a title="" href="" (click)="onHomeClick($event)" ><img src="../images/logo5.png" alt=""></a>
  </div>

  <div class="top-area">
    <ul class="main-menu">
      <li>
        <a  disabled="disabled">Home</a>
        <ul>
          <li><a href="" (click)="onHomeClick($event)"  title="">Home</a></li>
          <li><a href="" (click)="onLogout($event)"  title="">Logout </a></li>  
        </ul>
      </li>
      <li>
        <a disabled="disabled" >timeline</a>
        <ul>
          <li><a href="" title="">timeline</a></li>
          <li><a href="" title="">timeline photos</a></li>
        </ul>
      </li>
      <li>
        <a  title="" disabled="disabled">account settings</a>
        <ul>
          <li><a href="" title="">change account setting</a></li>
          <li><a href="" title="">change password</a></li>
          <li><a href="" (click)="onEditProfile($event)"  title="">edit profile </a></li>
        </ul>
      </li>
      <li>
        <a  disabled="disabled" title="">more</a>
        <ul>
             <li><a href="" (click)="onAboutUs($event)"  title="">about us</a></li>
             <li><a href="" (click)="onContact($event)"  title="">contact</a></li>

        </ul>
      </li>
    </ul>
    <ul class="setting-area">
      <li>
        <div class="search-container">
          <form  ng-submit="onSearchPosts()">   
            <input  (keyup.enter)="onSearchPosts()" [formControl]="postsQuery" type="text" placeholder="Search Posts"  name="search">
            <button type="submit" onsubmit="onSearchPosts()"><i class="fa fa-search"></i></button>
          </form>
        </div>

        <!-- <a  title="Search Posts" onClick="$('#search').toggle() ;" data-ripple=""><i class="icon-search"></i></a>
        <div class="searched">
          <form  class="form-search">
            <input  >
            <button data-ripple><i class="ti-search"></i></button>
          </form>
        </div> -->
      </li>
      <li><a href="" (click)="onHomeClick($event)"  title="Home" data-ripple=""><i class="ti-home"></i></a></li>
      <li>
        <a href="#" title="Notification" data-ripple="">
          <i class="ti-bell"></i><span>20</span>
        </a>
        <div class="dropdowns">
          <span>4 New Notifications</span>
          <ul class="drops-menu">
            <li>
              <a href="notifications.html" title="">
                <img src="../images/resources/thumb-1.jpg" alt="">
                <div class="mesg-meta">
                  <h6>sarah Loren</h6>
                  <span>Hi, how r u dear ...?</span>
                  <i>2 min ago</i>
                </div>
              </a>
              <span class="tag green">New</span>
            </li>           
          </ul>
          <a href="notifications.html" title="" class="more-mesg">view more</a>
        </div>
      </li>          
    </ul>
    <div class="user-img">
      <img src="../images/resources/admin.jpg" alt="">
      <span class="status f-online"></span>
      <div class="user-setting">
        <a href="#" title=""><span class="status f-online"></span>online</a>
        <a href="#" title=""><span class="status f-off"></span>offline</a>
        <a href="#" (click)="onEditProfile($event)" title=""><i class="ti-pencil-alt"></i>edit profile</a>
        <a href="#" title=""><i class="ti-settings"></i>account setting</a>
        <a href="" (click)="onLogout($event)" title=""><i class="ti-power-off"></i>log out</a>
      </div>
    </div>
  </div>
</div>  <!-- topbar -->