<div class="theme-layout">	
	<section>
		<div class="ext-gap bluesh high-opacity">
			<div class="content-bg-wrap" style="background: url(https://wpkixx.com/html/winku/images/resources/animated-bg2.png)"></div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="top-banner">
							<h1>Awesome! Confirmation Successful</h1>
							<nav class="breadcrumb">
							  <a class="breadcrumb-item" href="" (click)="onLoginClick()">Login</a>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- top area animated -->	
	<section>
		<div class="gap100">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="page-eror">
							<img src="https://wpkixx.com/html/winku/images/resources/404.svg" alt="">
							<div class="error-meta">
								<h1>Congrats! Your email is successfully confirmed.</h1>
								<span>Please click the link to login. </span>
								<a href=""  (click)="onLoginClick()" data-ripple="">Go Login</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	
	<div class="bottombar">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<span class="copyright">© Dagu 2020. All rights reserved.</span>
				</div>
			</div>
		</div>
	</div>	
</div>
	
	
