
<div class="central-meta item">
    <div class="user-post">
        <div class="friend-info">
            <figure>
                <img src="" alt="">
            </figure>            
            <div class="post-meta">
                <img src="" alt="">
                <div @ng  class="we-video-info">
                    <div *ngFor="let post of posts">

                    <div>
                </div>   
                <h4>No comments to show.</h4>
             
            </div>
        </div>
    </div>
</div>