<aside  class="sidebar static">
  <div class="widget">
    <h4 class="widget-title">Shortcuts</h4>
    <ul    class="naves">    
      <!-- if logged in can perform the follwong tasks -->     
      
      <li>
        <i class="ti-user"></i>
        <a href="timeline-friends.html" title="">Friends</a>
      </li>
  
      <li>
        <i class="ti-bell"></i>
        <a href="notifications.html" title="">Notifications</a>
      </li>   
      <li>
        <i class="ti-power-off"></i>
        <a  href="" (click)="onLogout($event)" >Logout</a>
      </li>
    </ul>
  </div><!-- Shortcuts -->    
  
</aside><!-- sidebar -->

