
<ul class="we-comet">
  <li *ngIf="comments.length <= 0">No comments added yet</li>
  <ng-container *ngIf="comments.length>0">
  <li *ngFor="let comment of comments">
    <div class="comet-avatar">
      <img src="../images/resources/comet-1.jpg" alt="">
    </div>
    <div class="we-comment">
      <div class="coment-head">
        <h5><a href="time-line.html" title="">{{comment.commentedBy.firstName}}</a></h5>
        <span> {{comment.commentTime | date:'medium'}}</span>
        <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
      </div>
      <p> {{comment.comment}}
      </p>
    </div>
    
  </li>
</ng-container>
  <li>
    <a href="#" title="" class="showmore underline">more comments</a>
  </li>
  <li class="post-comment">
    <div class="comet-avatar">
      <img src="../images/resources/comet-1.jpg" alt="">
    </div>
    <div class="post-comt-box">
       <textarea #content id="pcomment" class="comment" placeholder="Post your comment" (keyup.enter)="onEnter(content.value, pid.value); content.value='';"></textarea>
        <input type="hidden" #pid  value="{{postId}}" class="something" />
      </div>
    
  </li>
</ul>
<script data-cfasync="false" src="https://wpkixx.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/main.min.js"></script>
<script src="js/script.js"></script>
<script src="js/map-init.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>
